<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\prac5_db.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="prac5_dbEntities" connectionString="metadata=res://*/StoreModel.csdl|res://*/StoreModel.ssdl|res://*/StoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\prac5_db.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomerService" />
        <binding name="BasicHttpBinding_IProductService" />
        <binding name="BasicHttpBinding_IOrderService" />
        <binding name="BasicHttpBinding_IOrderLineService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/prak5_service_lib/CustomerService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
        contract="ServiceReference1.ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/prak5_service_lib/ProductService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
        contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/prak5_service_lib/OrderService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderService"
        contract="OrderServiceReference.IOrderService" name="BasicHttpBinding_IOrderService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/prak5_service_lib/OrderLineService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderLineService"
        contract="OrderLineServiceReference.IOrderLineService" name="BasicHttpBinding_IOrderLineService" />
    </client>
  </system.serviceModel>
</configuration>